*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    margin: 0;
    min-height:100vh;
    display:flex;
    justify-content: center;
    line-height: 1.6;
    background-color: #0D0106;
}
.container{
    width: 1366px;
    position:relative;
    overflow:hidden;
    cursor: pointer;
    background-color: #0D0106;
    box-shadow: 0 10px 20px rgba(0,0,0,0.6);
    border-radius: 10px;
}
.container span{
    height: 100%;
    background-image: url(kartik_dark.jpg);
    background-size:cover;
    background-repeat:no-repeat;
    position:absolute;
    transition:all 1s;
    border-radius: 5px;
}
.container span:nth-child(1){
    width:25%;
    z-index:6;
    transition-delay: 0s;
}
.container span:nth-child(2){
    width:50%;
    z-index:5;
    transition-delay: 0.2s;
}
.container span:nth-child(3){
    width:75%;
    z-index:4;
    transition-delay: 0.4s;
}
.container span:nth-child(4){
    width:100%;
    z-index:3;
    transition-delay: 0.6s;
}
.container:hover span{
    transform: translateY(-100%);
}
.container:hover span:nth-child(1){-moz-transition-delay: 0.6s;}
.container:hover span:nth-child(2){-moz-transition-delay: 0.4s;}
.container:hover span:nth-child(3){-moz-transition-delay: 0.2s;}
.container:hover span:nth-child(4){-moz-transition-delay: 0s;}

.content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100%;
    padding:0 30px;
    text-transform: capitalize;


}
h1 a {
    color: #FBFBFF;
    font-size: 2em;
    text-decoration: none;
    display: inline-block;
    position: relative;
    font-family: 'Dosis', sans-serif;
  }
  
  
  /* effect-shine */
  a.effect-shine:hover {
    -webkit-mask-image: linear-gradient(-75deg, rgba(0,0,0,.6) 30%, #000 50%, rgba(0,0,0,.6) 70%);
    -webkit-mask-size: 200%;
    animation: shine 2s infinite;
  }
  
  @-webkit-keyframes shine {
    from {
      -webkit-mask-position: 150%;
    }
    
    to {
      -webkit-mask-position: -50%;
    }
  }
div a.btn{
    position:relative;
    display:inline-flex;
    width:180px;
    height:55px;
    margin: 0 15px;
    perspective: 1000px;
}

div a.btn{

    font-size:19px;
    letter-spacing:1px;
    transform-style:preserve-3d;
    transform:translateZ(-25px);
    transition: transform .25s;
    font-family: 'montserrat', sans-serif;

}
div a.btn:before,
div a.btn:after{
    position:absolute;
    content:"Contact Me";
    height:55px;
    width:150px;
    display:flex;
    align-items: center;
    justify-content: center;
    border:5px solid #3626A7;
    box-sizing: border-box;
    border-radius:5px;

}
div a.btn:before{
    color:#FBFBFF;
    background:#3626A7;
    transform: rotateY(0deg) translateZ(25px);

}
div a.btn:after{
  color:#FBFBFF;
  
  transform: rotateX(90deg) translateZ(25px);
}
div a.btn:hover{
    transform:translateZ(-25px) rotateX(-90deg);
}



nav {
      float: left;
      position: absolute;
      top: 0;
      left: 0;
      background: transparent;
  }
  
  nav ul {
      text-align: center;
  }
  
  nav ul li {
      position: relative;
      height:172px; width: 70px; 
      cursor: pointer;
      background: #3626A7;
      text-transform: uppercase;
      transition:all .4s ease-out;
  }
  
  nav ul li:after {
      position: absolute;
      background: #0D0106;
      color: #FBFBFF;
      top:0;
      left: 70px;
      width: 70px; height: 100%;
      opacity:.5;
      transform: perspective(400px) rotateY(90deg);
      transform-origin: 0 100%;
      transition:all .4s ease-out;
  }
  
  nav ul li:nth-child(1):after { 
      content: "Home";
      line-height: 150px;
  }
  nav ul li:nth-child(2):after { 
      content: "About";
      line-height: 150px;
  }
  nav ul li:nth-child(3):after { 
      content: "Work";
      line-height: 150px;
  }
  nav ul li:nth-child(4):after { 
      content: "Say hi";
      line-height: 150px;
  }
  
  nav ul li:hover {
      transform: translateX(-70px);
  }
  
  nav ul li:hover:after {
    opacity: 1;
      transform: perspective(400px) rotateY(0deg) scale(1) ;
  }
  
  
  nav ul li > div {
      display: inline-block;
      padding: 25px 0;
      background: transparent;
  }
  
  nav ul li div { position: relative; }
  
  .roof {
      width: 0;
      height: 0;
      top:2px;
      border-style: solid;
      border-width: 0 21px 15px 21px;
      border-color: transparent transparent #FBFBFF transparent;
  }
  
  .roof-edge {
      position: absolute;
      z-index: 20;
      left: -17px;
      top: 3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 17px 12px 17px;
      border-color: transparent transparent #3626A7 transparent;
  }
  /*#FBFBFF triangle over red triangle*/
  .roof-edge:after {
      position: absolute;
      left: -14.5px;
      top: 3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 14.5px 10px 14.5px;
      border-color: transparent transparent #FBFBFF transparent;
  }
  
  .front {
      position: relative;
      top: 3px;
      width: 28.5px;
      height: 20px;
      margin: 0 auto;
      background: #FBFBFF;
  }
  /*door*/
  .front:after {
      position: absolute;
      background: #3626A7;
      width: 11px;
      height: 13px;
      bottom: 0;
      left:9px;
  }
  
  /*/// About me ////*/
  
  .head {
      width: 32px;
      height: 35px;
      background: #FBFBFF;
      border-radius:8px;
  }
  /*mouth*/
  .head:after {
      width: 4px;
      height: 10px;
      background: #FBFBFF;
      position: absolute;
      border-radius:4px 0 0 4px;
      top:21px;
      left: 14px;
      transform:rotate(270deg);
  }
  
  .eyes {
      width: 8px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      top: 10px;
      left: 5px;
      background: #3626A7;
  }
  /*right eye*/
  .eyes:after {
      width: 8px;
      height: 5px;
      border-radius: 50%;
      position: absolute;
      top: 0;
      left: 14px;
      background: #3626A7;
  }
  
  .beard {
      width: 32px;
      height: 17px;
      background: #3626A7;
      border:2px solid #FBFBFF;
      position: absolute;
      bottom: 0;
      left: 0;
      border-radius:0 0 8px 8px;
  }
  /*nose*/
  .beard:after {
      position: absolute;
      top:-2px;
      left: 11px;
      background: #FBFBFF;
      width:6px;
      height: 4px;
      border-left:1px solid #3626A7;
      border-right:1px solid #3626A7;
  }
  
  /*//work//*/
  
  .paper {
      position: relative;
      height:32px;
      width: 29px;
      background: #FBFBFF;
      border:2px solid #FBFBFF;
  }
  
  /*window*/
  .paper:after {
      position: absolute;
      top:1px;
      left: 0;
      width: 25px;
      height: 29px;
      background: #FBFBFF;
      border-top:4px solid #3626A7;
  }
  
  .lines {
      position: absolute;
      top: 36px;
      left: 5px;
      width: 11px;
      box-shadow: 0 0 0 1px #3626A7;
  }
  
  .lines:after {
      position: absolute;
      top: 4px;
      left: 3px;
      width: 14px;
      box-shadow: 0 0 0 1px #3626A7;
  }
  
  .lines:nth-child(2) {
      position: absolute;
      top: 44px;
      left: 8px;
      width: 11px;
  }
  
  .lines:nth-child(2):after {
      position: absolute;
      top: 4px;
      left: -3px;
      width: 11px;
  }
  
  .lines:nth-child(3) {
      position: absolute;
      top: 52px;
      left: 8px;
      width: 14px;
  }
  
  .lines:nth-child(3):after {
      display: none;
  }
  
  /*//mail //*/
  
  .mail-base {
      position: relative;
      width: 32px;
      height: 18px;
      background: #FBFBFF;
  }
  
  .mail-top {
      position: absolute;
      z-index: 20;
      left: 0;
      top: 0;
      width: 0;
      height: 0;
      transform: rotate(180deg);
      border-style: solid;
      border-width: 0 16px 11px 16px;
      border-color: transparent transparent #3626A7 transparent;
  }
  
  .mail-top:after {
      position: absolute;
      z-index: 20;
      left: -16px;
      top: 3px;
      width: 0;
      height: 0;
      border-style: solid;
      border-width: 0 16px 9px 16px;
      border-color: transparent transparent #FBFBFF transparent;
  }
  